@font-face {
    font-family: myFirstFont;
    src: url(gotham-medium.ttf);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6; /* integer */
}


.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 6; /* integer */

}


{padding-top: 70px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
	font-family: myFirstFont;
}

li a:hover {
    background-color: #A7FFEB;
}

.active {
    background-color: #A7FFEB;
}

#programme img {
	width: 260px;
}

#programme h1 {
	font-family: myFirstFont;
}

#programme h4 {
	font-family: myFirstFont;
}

#read {
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}

.cover {
	min-height: 550px;
	background-size: cover;
	background-image: url("images/cover.jpg")
}


.cover p {
	text-align: center;
	font-size: 60px;
	color: white;
	padding: 250px;
	font-family: myFirstFont;
}

#tickets {
	font-family: myFirstFont;
}

#contacts h1 {
	font-family: myFirstFont;
}