@font-face {
    font-family: myFirstFont;
    src: url(gotham-medium.ttf);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 6; /* making sure the nav bar is top level */
}


.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 6; /* making sure the nav bar is top level */
}

hr {
  color: #123455;
}


{   padding-top: 60px;
}

li {
    float: left;
    display: inline;
}


li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
	font-family: myFirstFont;
}

li a:hover {
    background-color: #A7FFEB;
}

.active {
    background-color: #A7FFEB;

}

#contacts {
    background-color: #A7FFEB;
}

#programme img {
	width: 260px;
}

#programme h1 {
	font-family: myFirstFont;
}

#programme h4 {
	font-family: myFirstFont;
}

#read {
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}

.cover {
	min-height: 550px;
	background-size: cover;
	background-image: url("images/cover.jpg")
}


.cover p {
	text-align: center;
	font-size: 60px;
	color: white;
	padding: 250px;
	font-family: myFirstFont;
}

#tickets {
	font-family: myFirstFont;
}

#tickets a {
	text-decoration: none;
	color: white;
	font-size: 25px;
}


#tickets a:hover {
	background-color: #A7FFEB;
	padding: 10px;
}

#tickets button {
	background-color: black;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 7px;
}


#contacts h1 {
	font-family: myFirstFont;
}

#contacts h4 {
    font-family: myFirstFont;
}

